<% provide(:title, 'Home') %>
<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> SSA | <%= yield(:title) %></title>
  </head>
  <body> -->
    <h1>Sample App</h1>
    <p>
      This is the home page for <thead>
        <a href="http://vk.com/id19264128">Sergo's</a>
        practice
      </thead>
    </p>
  <!-- </body>
</html> -->
